@charset "UTF-8";
html,body{margin: 0;padding: 0;width: 100%;height: 100%;background-color: #000;overflow: hidden;}
.no-sel{
    -webkit-user-select: none; /* Chrome */
    -ms-user-select: none; /* Edge */
    user-select: none;
}
.sel-hand{
    cursor:pointer;
}
.top-info{
    text-align: center;
}
#top{
    right: 0;
    width: 50%;
    height: 4%;
    position: absolute;
    z-index: 9999;
    min-width: 6.25rem;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0);
}
#content{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.03);
}