<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="./css/index/index.css">
</head>
<body id="body">
    <div id="top">
        <span id="access" class="top-info no-sel sel-hand" style="color: #fff;" onclick="access()">游客</span>
    </div>
    <div id="content"></div>
    <script src="./js/all/00e27ea08775dd0215f83a6be12f1faa.js"></script>
    <script src="./js/all/structure/HashMap.js"></script>
    <script src="./js/jquery/3ca220de1df80931eef33a8d84c35557.js"></script>
    <script src="./js/index/d0cfdcb1fc86c83ec32090559e2a1de8.js"></script>
</body>
</html>