@charset "UTF-8";
#body{
	background-color: #151515;
	background-size: 100% 100%;
}
#main{
	text-align: center;
}
.show-font{
	color: #808080;
}
#title{
	/**font-family: 华文行楷;*/
	font-family: Blackoak Std 黑体;
	font-size: 70px;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#access{
	font-family:黑体;
	font-weight:bold;
	font-size:16px;
	cursor:pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.show{
	border-style:none;
	border-radius:5px;
	width:300px;
	height:30px;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.input{
	border:0.5px solid;
}
.but{
	background:#303030;
	color:#FFF;
	cursor:pointer;
}
.but:hover{
	background-color: #808080;
}