<!DOCTYPE html>
<html lang="zh" id="html" data-mode="morning">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>management</title>
<link rel="stylesheet" type="text/css" href="./css/management/admin/ffc90b2228d79043a3bd2eb96d283ed2.css">
</head>
<body>
	<div id="top" class="container">
		<div id="top-logo" class="container">Admin</div>
		<div id="top-operating" class="selected container">
			<select class="top-operating-select selected" onchange="topSetChange(this)">
				<option>设置</option>
				<option>登出</option>
				<option>切换模式</option>
			</select>
		</div>
	</div>
	<div id="after" class="container">
		<div id="after-left" class="container">
			<div id="document" class="after-left-s selected" data-state="0" onclick="querySpace()">
				<div class="after-left-s-l-info row">SPACE</div>
			</div>
			<div id="image" class="after-left-s selected" data-state="0" onclick="queryCache()">
				<div class="after-left-s-l-info row">CACHE</div>
			</div>
			<div id="audio" class="after-left-s selected" data-state="0" onclick="queryFileByCategory(this)">
				<div class="after-left-s-l-info row">DATABASE</div>
			</div>
		</div>
		<div id="after-right" class="container">
			<div id="top1">
				<div id ="fileSearch" class="container top-s1 selected noBorder">
					<input id="fileSearch-input" type="text" placeholder="data search">
				</div>
				<div id="mailPage" class="container top-s1 selected noBorder">
					<input type="number" placeholder="page">
				</div>
				<div class="container top-s1 selected noBorder">
					<a class="top-s-a" onclick="pageChange(-1)">上一页</a>
				</div>
				<div class="container top-s1 selected noBorder">
					<a class="top-s-a" onclick="pageChange(1)">下一页</a>
				</div>
				<div class="container top-s1 noBorder">
					<div id="page">1/1</div>
				</div>
			</div>
			<div class="after">
				<table id="list">
					<thead>
						<tr>
							<td class="td1 after-tr-td"><input type="checkbox"></td>
							<td class="td2 after-tr-td">类型</td>
							<td class="td3 after-tr-td">Key</td>
							<td class="td4 after-tr-td">Value</td>
							<td class="td7 after-tr-td">修改/删除</td>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<script src="./js/all/00e27ea08775dd0215f83a6be12f1faa.js"></script>
	<script src="./js/jquery/3ca220de1df80931eef33a8d84c35557.js"></script>
	<script src="./js/management/admin/076e1956567240d127f42d8fd87fd659.js"></script>
</body>
</html>